.row(ng-controller="camera_controller")
	.col-xs-12.well
		h2= "Camera settings"
		form.form-horizontal#camera-form(novalidate, role="form")
			.col-md-6
				fieldset
					legend= "Common options"

					.form-group
						.col-md-3
							label(for='width-control')= "Width:"
							input#width-control.form-control(type="number", ng-model="curr_settings['width']", min="{{options['width']['min']}}", max="{{options['width']['max']}}")

						.col-md-3
							label(for='height-control')= "Height:"
							input#height-control.form-control(type="number", ng-model="curr_settings['height']", min="{{options['height']['min']}}", max="{{options['height']['max']}}")

						//- Move to controls?						
						.col-md-3.col-md-offset-3
							label(for='timeout-control')= "Timeout:"
							input#timeout-control.form-control(type="number", ng-model="curr_settings['timeout']", min="{{options['timeout']['min']}}", max="{{options['timeout']['max']}}")

					.form-group
						.col-xs-12
							label(for='quality-control')= "Quality: {{ curr_settings['quality'] }}"
							input#quality-control.form-control(type="range", ng-model="curr_settings['quality']", min="{{options['quality']['min']}}", max="{{options['quality']['max']}}")

					.form-group
						.col-xs-12
							label(for='sharpness-control')= "Sharpness: {{ curr_settings['sharpness'] }}"
							input#sharpness-control.form-control(type="range", ng-model="curr_settings['sharpness']", min="{{options['sharpness']['min']}}", max="{{options['sharpness']['max']}}")

					.form-group
						.col-xs-12
							label(for='contrast-control')= "Contrast: {{ curr_settings['contrast'] }}"
							input#contrast-control.form-control(type="range", ng-model="curr_settings['contrast']", min="{{options['contrast']['min']}}", max="{{options['contrast']['max']}}")

					.form-group
						.col-xs-12
							label(for='brightness-control')= "Brightness: {{ curr_settings['brightness'] }}"
							input#brightness-control.form-control(type="range", ng-model="curr_settings['brightness']", min="{{options['brightness']['min']}}", max="{{options['brightness']['max']}}")
			
					.form-group
						.col-xs-12
							label(for='saturation-control')= "Saturation: {{ curr_settings['saturation'] }}"
							input#saturation-control.form-control(type="range", ng-model="curr_settings['saturation']", min="{{options['saturation']['min']}}", max="{{options['saturation']['max']}}")

					.form-group
						.col-xs-12
							label(for='ev-control')= "EV correction: {{ curr_settings['ev'] }}"
							input#ev-control.form-control(type="range", ng-model="curr_settings['ev']", min="{{options['ev']['min']}}", max="{{options['ev']['max']}}", step="0.1")

					.form-group
						.col-sm-6
							label(for='exposure-control')= "Exposure mode:"
							ui-select#exposure-control(ng-model="curr_settings['ex']", search-enabled="false")
								ui-select-match
									| {{$select.selected.pretty}}
								ui-select-choices(repeat="opt.name as opt in options['ex']['values']")
									div(ng-bind-html="opt.pretty")

						.col-sm-6
							label(for='wb-control')= "White balance:"
							ui-select#wb-control(ng-model="curr_settings['awb']")
								ui-select-match
									| {{$select.selected.pretty}}
								ui-select-choices(repeat="opt.name as opt in options['awb']['values']")
									div(ng-bind-html="opt.pretty")

					.form-group
						.col-sm-6
							label(for='ifx-control')= "Image effects:"
							ui-select#ifx-control(ng-model="curr_settings['ifx']")
								ui-select-match
									| {{$select.selected.pretty}}
								ui-select-choices(repeat="opt.name as opt in options['ifx']['values']")
									div(ng-bind-html="opt.pretty")


						.col-sm-6.col-xs-12
							label(for='metering-control')= "Metering mode:"
							ui-select#metering-control(ng-model="curr_settings['metering']")
								ui-select-match
									| {{$select.selected.pretty}}
								ui-select-choices(repeat="opt.name as opt in options['metering']['values']")
									div(ng-bind-html="opt.pretty")

					.form-group
						.col-xs-4
							label(for='vstab-control')= "Vstab:"
							input#vstab-control(type="checkbox", ng-model="curr_settings['vstab']")

						.col-xs-4
							label(for='hflip-control')= "Horizontal flip:"
							input#hflip-control(type="checkbox", ng-model="curr_settings['hflip']")

						.col-xs-4
							label(for='vflip-control')= "Vertical flip:"
							input#vflip-control(type="checkbox", ng-model="curr_settings['vflip']")

			.col-md-6
				fieldset(ng-disabled="curr_settings['mode'] != 'timelapse'")
					legend= "Timelapse options"
					.form-group
						.col-xs-12
							label(for='timelapse-control')= "Timelapse:"
							input#timelapse-control.form-control(type="number", ng-model="curr_settings['timelapse']", min="{{options['timelapse']['min']}}")

				fieldset(ng-disabled="curr_settings['mode'] != 'video'")
					legend= "Video options"
					.form-group
						.col-sm-6.col-xs-12
							label(for='bitrate-control')= "Bitrate:"
							input#bitrate-control.form-control(type="number", ng-model="curr_settings['bitrate']", min="{{options['bitrate']['min']}}", max="{{options['bitrate']['max']}}")

						.col-sm-6.col-xs-12
							label(for='framerate-control')= "Framerate:"
							input#framerate-control.form-control(type="number", ng-model="curr_settings['framerate']", min="{{options['framerate']['min']}}", max="{{options['framerate']['max']}}")


				fieldset
					legend= "Controls"

					.form-group
						.col-xs-12
							label(for='mode-control')= "Mode:"
							ui-select#mode-control(ng-model="curr_settings['mode']")
								ui-select-match
									| {{$select.selected.pretty}}
								ui-select-choices(repeat="opt.name as opt in options['mode']['values']")
									div(ng-bind-html="opt.pretty")

					.form-group
						.col-xs-12
							button.btn.btn-primary(ng-click="start_camera()").
								Take {{ curr_settings['mode'] }}


					.form-group
						.col-xs-12
							p(style="word-break: break-all").
								{{ curr_settings }}


