
.camera-box.row.well(ng-controller="camera_controller")
	h2. Camera settings
	
	form.form-horizontal(novalidate, class="col-lg-12", role="form")
		.col-lg-6.col-md-6
			fieldset
				legend= "Common options"

				.row
					span.col-md-3.col-sm-4.col-xs-6= "Hello"
					span.col-md-3.col-sm-4.col-xs-6= "Cruel"
					span.col-md-3.col-sm-4.col-xs-6= "World"
					span.col-md-3.col-sm-4.col-xs-6= "!!!"


				.row
					.form-group.col-sm-6.col-xs-12
						label.col-xs-2= "Width:"
						input.col-xs-10.form-control(type="number", ng-model="curr_settings['width']", min="{{options['width']['min']}}", max="{{options['width']['max']}}")

					.col-sm-6.col-xs-12
						span= "Height:"
						input(type="number", ng-model="curr_settings['height']", min="{{options['height']['min']}}", max="{{options['height']['max']}}")

				.row
					.col-xs-12
						span= "Timeout:"
						input(type="number", ng-model="curr_settings['timeout']", min="{{options['timeout']['min']}}", max="{{options['timeout']['max']}}")

				.row
					.col-xs-12
						span= "Quality: {{ curr_settings['quality'] }}"
						slider(ng-model="curr_settings['quality']", min="{{options['quality']['min']}}", max="{{options['quality']['max']}}")

				.row
					.col-xs-12
						span= "Sharpness: {{ curr_settings['sharpness'] }}"
						input(type="range", ng-model="curr_settings['sharpness']", min="{{options['sharpness']['min']}}", max="{{options['sharpness']['max']}}")

				.row
					.col-xs-12
						span= "Contrast: {{ curr_settings['contrast'] }}"
						input(type="range", ng-model="curr_settings['contrast']", min="{{options['contrast']['min']}}", max="{{options['contrast']['max']}}")

				.row
					.col-xs-12
						span= "Brightness: {{ curr_settings['brightness'] }}"
						input(type="range", ng-model="curr_settings['brightness']", min="{{options['brightness']['min']}}", max="{{options['brightness']['max']}}")
		
				.row
					.col-xs-12
						span= "Saturation: {{ curr_settings['saturation'] }}"
						input(type="range", ng-model="curr_settings['saturation']", min="{{options['saturation']['min']}}", max="{{options['saturation']['max']}}")

				//- .row
				//- 	.col-xs-12
				//- 		span= "EV correction: {{ curr_settings['ev'] }}"
				//- 		input.form-control(type="range", ng-model="curr_settings['ev']", min="{{options['ev']['min']}}", max="{{options['ev']['max']}}", step="0.1")

				.row
					.col-sm-6.col-xs-12
						span= "Exposure mode:"
						select(ng-model="curr_settings['ex']", ng-options="opt.name as opt.pretty for opt in options['ex']['values']")

					.col-sm-6.col-xs-12
						span= "White balance:"
						select.form-control(ng-model="curr_settings['awb']", ng-options="opt.name as opt.pretty for opt in options['awb']['values']")

				.row
					.col-sm-6.col-xs-12
						span= "Image effects:"
						select(ng-model="curr_settings['ifx']", ng-options="opt.name as opt.pretty for opt in options['ifx']['values']")

					.col-sm-6.col-xs-12
						span= "Metering mode:"
						select(ng-model="curr_settings['metering']", ng-options="opt.name as opt.pretty for opt in options['metering']['values']")

				.row
					.col-xs-4
						span= "Vstab:"
						input(type="checkbox", ng-model="curr_settings['vstab']")

					.col-xs-4
						span= "Horizontal flip:"
						input(type="checkbox", ng-model="curr_settings['hflip']")

					.col-xs-4
						span= "Vertical flip:"
						input(type="checkbox", ng-model="curr_settings['vflip']")

		.col-md-6
			fieldset(ng-disabled="curr_settings['mode'] != 'timelapse'")
				legend= "Timelapse options"
				.row
					.col-xs-12
						span= "Timelapse:"
						input(type="number", ng-model="curr_settings['timelapse']", min="{{options['timelapse']['min']}}")

			fieldset(ng-disabled="curr_settings['mode'] != 'video'")
				legend= "Video options"
				.row
					.col-sm-6.col-xs-12
						span= "Bitrate:"
						input(type="number", ng-model="curr_settings['bitrate']", min="{{options['bitrate']['min']}}", max="{{options['bitrate']['max']}}")

					.col-sm-6.col-xs-12
						span= "Framerate:"
						input(type="number", ng-model="curr_settings['framerate']", min="{{options['framerate']['min']}}", max="{{options['framerate']['max']}}")


			fieldset
				legend= "Controls"

				span= "Mode:"
					select(ng-model="curr_settings['mode']", ng-options="opt.name as opt.pretty for opt in options['mode']['values']")


				button.btn.btn-primary(ng-click="start_camera()").
					Take {{ curr_settings['mode'] }}



		p.
			{{ curr_settings }}
